.toast {
  user-select: none;
  width: 100%;
  opacity: 0;
  position: fixed;
  z-index: 2000;
  top: 20px;
  left: 0;
  transition: top 0.5s, opacity 0.5s;
}

.toast-body {
  margin: auto;
  max-width: 250px;
  border-radius: 3px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background-color: rgb(58, 58, 58);
  color: white;
  box-shadow: var(--item-shadow-large);
}

.display-toast {
  opacity: 1;
  top: 30px;
}